html {
    --debug-borders: 1px solid none;

    --transition-time: 0.25s;

    --bg-color: #1d2028;
    --text-color: #fffffc;
    --text-color-yellow: #ffffc2;
    --datetime-color: #ff8827;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-color);
}

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }
    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }
    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }
    2% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%,
    100% {
        text-shadow: none;
        transform: none;
    }
}

@keyframes animate {
    0%,
    100% {
        top: -7px;
        left: 0;
        opacity: 1;
    }
    20% {
        top: 0;
        left: -10px;
        opacity: 0.7;
    }
    40% {
        top: 7px;
        left: 0;
        opacity: 0.2;
    }
    60% {
        top: 0;
        left: 10px;
        opacity: 0.3;
    }
    80% {
        top: 0;
        left: 0;
        opacity: 0.9;
    }
}

@keyframes font {
    0% {
        font-weight: 100;
        color: #e0287d;
        filter: blur(3px);
    }

    20% {
        font-weight: 500;
        color: #fff;
        filter: blur(0);
    }

    50% {
        font-weight: 300;
        color: #1bc7fb;
        filter: blur(2px);
    }

    60% {
        font-weight: 700;
        color: #fff;
        filter: blur(0);
    }

    90% {
        font-weight: 500;
        color: #e0287d;
        filter: blur(6px);
    }
}

@keyframes opacity {
    0% {
        opacity: 0.1;
    }

    5% {
        opacity: 0.7;
    }

    30% {
        opacity: 0.4;
    }

    45% {
        opacity: 0.6;
    }

    76% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.8;
    }

    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
        opacity: 0;
    }
}

@keyframes movement {
    0% {
        top: 0px;
        left: -20px;
    }

    15% {
        top: 10px;
        left: 10px;
    }

    60% {
        top: 5px;
        left: -10px;
    }

    75% {
        top: -5px;
        left: 20px;
    }

    100% {
        top: 10px;
        left: 5px;
    }
}

@keyframes paths {
    0% {
        clip-path: polygon(
            0% 43%,
            83% 43%,
            83% 22%,
            23% 22%,
            23% 24%,
            91% 24%,
            91% 26%,
            18% 26%,
            18% 83%,
            29% 83%,
            29% 17%,
            41% 17%,
            41% 39%,
            18% 39%,
            18% 82%,
            54% 82%,
            54% 88%,
            19% 88%,
            19% 4%,
            39% 4%,
            39% 14%,
            76% 14%,
            76% 52%,
            23% 52%,
            23% 35%,
            19% 35%,
            19% 8%,
            36% 8%,
            36% 31%,
            73% 31%,
            73% 16%,
            1% 16%,
            1% 56%,
            50% 56%,
            50% 8%
        );
    }

    5% {
        clip-path: polygon(
            0% 29%,
            44% 29%,
            44% 83%,
            94% 83%,
            94% 56%,
            11% 56%,
            11% 64%,
            94% 64%,
            94% 70%,
            88% 70%,
            88% 32%,
            18% 32%,
            18% 96%,
            10% 96%,
            10% 62%,
            9% 62%,
            9% 84%,
            68% 84%,
            68% 50%,
            52% 50%,
            52% 55%,
            35% 55%,
            35% 87%,
            25% 87%,
            25% 39%,
            15% 39%,
            15% 88%,
            52% 88%
        );
    }

    30% {
        clip-path: polygon(
            0% 53%,
            93% 53%,
            93% 62%,
            68% 62%,
            68% 37%,
            97% 37%,
            97% 89%,
            13% 89%,
            13% 45%,
            51% 45%,
            51% 88%,
            17% 88%,
            17% 54%,
            81% 54%,
            81% 75%,
            79% 75%,
            79% 76%,
            38% 76%,
            38% 28%,
            61% 28%,
            61% 12%,
            55% 12%,
            55% 62%,
            68% 62%,
            68% 51%,
            0% 51%,
            0% 92%,
            63% 92%,
            63% 4%,
            65% 4%
        );
    }

    45% {
        clip-path: polygon(
            0% 33%,
            2% 33%,
            2% 69%,
            58% 69%,
            58% 94%,
            55% 94%,
            55% 25%,
            33% 25%,
            33% 85%,
            16% 85%,
            16% 19%,
            5% 19%,
            5% 20%,
            79% 20%,
            79% 96%,
            93% 96%,
            93% 50%,
            5% 50%,
            5% 74%,
            55% 74%,
            55% 57%,
            96% 57%,
            96% 59%,
            87% 59%,
            87% 65%,
            82% 65%,
            82% 39%,
            63% 39%,
            63% 92%,
            4% 92%,
            4% 36%,
            24% 36%,
            24% 70%,
            1% 70%,
            1% 43%,
            15% 43%,
            15% 28%,
            23% 28%,
            23% 71%,
            90% 71%,
            90% 86%,
            97% 86%,
            97% 1%,
            60% 1%,
            60% 67%,
            71% 67%,
            71% 91%,
            17% 91%,
            17% 14%,
            39% 14%,
            39% 30%,
            58% 30%,
            58% 11%,
            52% 11%,
            52% 83%,
            68% 83%
        );
    }

    76% {
        clip-path: polygon(
            0% 26%,
            15% 26%,
            15% 73%,
            72% 73%,
            72% 70%,
            77% 70%,
            77% 75%,
            8% 75%,
            8% 42%,
            4% 42%,
            4% 61%,
            17% 61%,
            17% 12%,
            26% 12%,
            26% 63%,
            73% 63%,
            73% 43%,
            90% 43%,
            90% 67%,
            50% 67%,
            50% 41%,
            42% 41%,
            42% 46%,
            50% 46%,
            50% 84%,
            96% 84%,
            96% 78%,
            49% 78%,
            49% 25%,
            63% 25%,
            63% 14%
        );
    }

    90% {
        clip-path: polygon(
            0% 41%,
            13% 41%,
            13% 6%,
            87% 6%,
            87% 93%,
            10% 93%,
            10% 13%,
            89% 13%,
            89% 6%,
            3% 6%,
            3% 8%,
            16% 8%,
            16% 79%,
            0% 79%,
            0% 99%,
            92% 99%,
            92% 90%,
            5% 90%,
            5% 60%,
            0% 60%,
            0% 48%,
            89% 48%,
            89% 13%,
            80% 13%,
            80% 43%,
            95% 43%,
            95% 19%,
            80% 19%,
            80% 85%,
            38% 85%,
            38% 62%
        );
    }

    1%,
    7%,
    33%,
    47%,
    78%,
    93% {
        clip-path: none;
    }
}

/* ===== Header ============================================================= */

/* Glitch effect from https://codepen.io/aldrie/pen/PojGYLo */
.stack {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr;

    color: var(--text-color);
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;

    filter: drop-shadow(0 1px 3px);
}

.stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
            calc(var(--index) * 120ms),
        glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) {
    --glitch-translate: 8px;
}
.stack span:nth-child(even) {
    --glitch-translate: -8px;
}

p {
    color: var(--text-color-yellow);
    width: 60%;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;

    text-align: center;
}

p.divider {
    font-family: "Courier New", Courier, monospace;
    color: #00ff00;
    filter: drop-shadow(0 1px 3px);
}

a {
    position: relative;
    font-family: "Courier New", Courier, monospace;
    color: #f6d8d5;
    font-size: 23px;

    /* Remove underline from links */
    text-decoration: none;
    filter: drop-shadow(0 1px 3px);
}

a:hover {
    opacity: 0.9;
    text-shadow: 0px -5px #ec2225, 0px 5px #00c2cb, -5px 0px #ec2225,
        5px 0px #00c2cb;
}

a::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #e0ffff;
    z-index: -1;
}

a:hover::before {
    animation: animate 12ms ease-in-out infinite;
    z-index: 1;
}

/* ===== Cards ============================================================== */

.prompts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;

    border: var(--debug-borders);
}

.prompts > .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 10px;

    border: var(--debug-borders);
}

.prompts > .card > h2 {
    color: var(--text-color-yellow);
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    text-align: center;

    width: 90%;
    text-align: left;

    margin: 0px;
}

.prompts > .card > h2 > span.datetime {
    color: var(--datetime-color);
    filter: drop-shadow(0 1px 3px);
}

.prompts > .card > h3 {
    color: var(--text-color-yellow);
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5rem;
    text-align: right;

    margin: 0px;
    width: 90%;

    filter: drop-shadow(0 1px 3px);

    animation: paths 5s step-end infinite var(--animation-delay);
}

.prompts > .card > h3::before {
    animation: paths 5s step-end infinite var(--animation-delay),
        opacity 5s step-end infinite var(--animation-delay),
        font 8s step-end infinite var(--animation-delay),
        movement 10s step-end infinite var(--animation-delay);
}

.prompts > .card > h3::after {
    animation: paths 5s step-end infinite var(--animation-delay),
        opacity 5s step-end infinite var(--animation-delay),
        font 7s step-end infinite var(--animation-delay),
        movement 8s step-end infinite var(--animation-delay);
}

/* Offset animations based on the number */
.prompts > .card:nth-child(odd) > h3 {
    --animation-delay: 1s;
}

.prompts > .card:nth-child(even) > h3 {
    --animation-delay: 2s;
}

.prompts > .card > .box {
    position: relative;
    border: 1px solid white;
    width: 400px;
    height: 400px;
}

.prompts > .card > .box > canvas {
    width: 400px;
    height: 400px;
}

.prompts > .card > .box > .desc {
    /* Want the description to appear above the canvas */
    overflow: hidden;
    position: absolute;

    width: 398px;
    height: 398px;
    top: 1px;
    left: 1px;

    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0%;
    transition: var(--transition-time);
}

.prompts > .card > .box > .desc:hover {
    opacity: 100%;
    transition: var(--transition-time);
}

.prompts > .card > .box > .desc > p {
    width: 95%;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-align: center;
}

.prompts > .card > footer {
    padding-top: 10px;
}
.prompts > .card > footer > a {
    font-family: "Courier New", Courier, monospace;
}
